@charset "UTF-8";

@media screen and (min-width: 768px) and (max-width: 992px) { /* Tablet */
    
    body {
        overflow-x: hidden;
        display: block;
    }
    
    section#cadastro {
        width: 500px;
    }

    section#cadastro > div#imagem {
        height: 30%;
        width: 50%;
        margin: auto;
    }

    section#cadastro > div#formulario {
        width: 100%;

    }

    div#formulario > p {
        font-size: 1em;
        margin: 15px 0px;
    }

    div#password {
        width: 100%;
        white-space: nowrap;
    }
    
    div i {
        font-size: 1.3em;
        cursor: pointer;
        position: absolute;
        right: 5%;
    }

}

@media screen and (min-width: 992px) { /* Desktop*/

    body {
        overflow-x: hidden;
        display: block;
    }
    
    section#cadastro {
        width: 500px;
    }

    section#cadastro > div#imagem {
        height: 30%;
        width: 50%;
        margin: auto;
    }

    section#cadastro > div#formulario {
        width: 100%;

    }

    div#formulario > p {
        font-size: 1em;
        margin: 15px 0px;
    }

    div#password {
        width: 100%;
        white-space: nowrap;
    }
    
    div i {
        font-size: 1.3em;
        cursor: pointer;
        position: absolute;
        right: 5%;
    }
}